main{
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

/*---- text----*/

.text img{
    float:right;
    max-width: 50%;
    height: auto;
    margin: 20px;
    justify-self: right;
}

.text p{
    padding: auto;
    margin-bottom: 0;
    text-indent: 1.2em;
    text-align: justify;
}

h1{
    color:inherit;
    text-align: center;
    font-family:"Apple Chancery";
}
h2{
    color:inherit;
    text-align: center;
    font-family:" Neuton";
}
