.grid {
  display: grid;
}

/* ------------HEADER-------------------*/
.header-content {
  min-height: 10vh;
  background-size: cover;
  background-position: top;
  position: relative;
  align-content: center;
  background-image: url(images/back.png);
}

.main-header h1 {
  margin-bottom: 10px;
  font-size: 50px;
  font-family:"Apple Chancery";
  text-align: center;
  color: #d4c17c;
}

.main-header img {
  float: left;
}

.two{

    box-shadow: -5px -5px #cdcaca;
    font-size: medium;
    /* display: inline; */
    padding: 40px;
    /* text-align: center; */

}
.ul-list{
    overflow: hidden;
    display: inline;
    list-style: none;
    padding: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.ul-list a{
  float: left;
  display: inline-block;
}

nav div{
  justify-content: center;
    align-items: center;
    margin: 30px;
    border: 2px solid black;
    font-size: medium;
    border-radius: 5px;
}
.item{
    font-size:medium;
    padding: 30px;
    text-align: center;
    font-family: "Arial";
}

.item:hover{
    background-color: #a6c9ef;
}
.button {
    color: whitesmoke;
    border-radius: 15%;
    background-color: #255d90;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: whitesmoke;
}

a:hover{
    color:#255d90;
}
.item{
    margin-right: 30px;
    margin-left:30px;
}
/* ----- text style----- */

h1{
    text-align: center;
    font-size: 40px;
    text-align: center;
    font-family:"Apple Chancery";
}
span{
    font-family: "Apple Chancery";
    justify-items: center;
    font-style: italic;
    font-size:25px;
    color: #5d0404;
}
li{
    font-size: large;
}
ol {
    margin: 5px;
}
p{
    font-family: "sans-serif";
    font-size: large;
    text-align: center;
}
h2 {
    font-family: "Apple Chancery";
    text-align: center;
    color:black;
}
article{
    padding: 20px;
}
img{
    max-width: 100%;
    height: auto;
}
/* ----- footer classer----- */
footer{
    grid-area: ft;
    text-align:center;
    border: 1px solid black;
    align-items: center;
    background-color: #255d90;
    margin-right: 20px;
    margin-left: 20px;
}
.style{
    font-family: "Comic Sans MS";
    text-align: center;
    color:white;
    justify-content: center;
}
