
/*================Medium devices, desktops=========*/
@media only screen and (max-width: 992px){

.header-content {
  padding-bottom: 10px;
}
  .main-header h1 {
    font-size: 40px;
}
.main-header img {
  max-width: 200px;
}

.ul-list {
  padding: 15px;
  margin: 0 30px;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  font-size: 12px;
  margin: 5px;
}

nav {
    margin: 10px 0;
    border-radius: 5px;
    justify-content: center;
}


.item{
    margin-right: 10px;
    margin-left: 10px;
}

footer p{
  font-size: 18px;
    }
}



/*================Small devices, Tablets=========*/
@media only screen and (max-width: 768px){
  .main-header h1 {
    margin-bottom: 10px;
    font-size: 30px;
}
.main-header img {
  max-width: 150px;
}

.ul-list {
  padding: 15px;
  margin: 0 15px;
  justify-content: center;
}

.button {
  padding: 5px 10px;
  font-size: 12px;
  margin: 5px;
}

nav div{
    margin: 10px;
    border-radius: 5px;
    justify-self: center;
}

.item{
    margin-right: 10px;
    margin-left: 10px;
}

footer p{
  font-size: 14px;
  }

    main h1, h2, h3, li, p, ol, span {
      font-size: 4vw;
    }

    h1, h2, h3, li, p, ol, span {
      font-size: 4vw;
    }
  textarea {
      max-width: 560px;
      font-size: 3vw;
  }
  input[type=submit] {
   width: 100%;
   margin-top: 0;
  }
  .information {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas:
    "info"
    "reach"
  }
}


/*================Extra small devices, Phones=========*/
@media only screen and (max-width: 480px){
  .header-content {
    padding-bottom: 5px;
  }
    .main-header h1 {
      font-size: 20px;
  }
  .main-header img {
    max-width: 125px;
  }

  .ul-list {
    padding: 5px;
    margin: 0;
    justify-content: center;
  }

  .button {
    padding: 5px 5px;
    font-size: 8px;
    margin: 2px;
  }

  nav {
      margin: 5px 0;
      border-radius: 5px;
      justify-content: center;
  }


  .item{
      margin-right: 5px;
      margin-left: 5px;
  }

  footer p{
    font-size: 8px;
      }

    main h1, h2, h3, li, p, ol, span {
      font-size: 4vw;
    }

    h1, h2, h3, li, p, ol, span {
      font-size: 4vw;
    }
    textarea {
        max-width: 320px;
        font-size: 3vw;
    }

    input[type=submit] {
     width: 100%;
     margin-top: 0;
    }
  }
