.button {
    color: whitesmoke;
    border-radius: 15%;
    background-color: #255d90;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

main{
    grid-area: mn;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #d3c181;
    border-radius: 5px;
    border: 1px solid black;
}
/*-----aside----*/
aside{
    grid-area: info;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #d5c387;
}
article{
    display: grid;
    grid-area: reach;
    background-color: #d5c387;
    justify-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
/* ----- footer classer----- */
footer{
    grid-area: ft;
    text-align:center;
    border: 1px solid black;
    align-items: center;
    background-color: #255d90;
    margin-right: 20px;
    margin-left: 20px;
}
/* ------fieldtest-----*/
fieldset{
    padding: 20px;
    margin: 20px;

}
label{
    font-size: 20px;
}
input{
    border-radius: 10px;
}

p{
    font-family: Neuton;
    font-size: 20px;
}
address {
    font-size: 20px;
    color: black;
}
.center{
    justify-items: center;
}
h2{
    font-size: 30px;
    padding: 20px;
    font-family: "Apple Chancery";
}
h2{
    font-family: "Apple Chancery";
}
span{
    font-size: 20px;
}
form {
    font-size: 3vw;
}

/* * {
  box-sizing: border-box;
} */

input[type=text], select {
  resize: vertical;
}

textarea {
  width: 90%;
  padding: 12px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.information {
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "info reach"
}

.container {
  margin: 20px;
}
/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}
